@use "mixin";
@use "var";
@use "navbar";
@use "header";
@use "services";
@use "portafolio";
@use "about";
@use "team";
@use "contact";
@use "footer";
@use "modal";


@font-face {
  font-family: 'Agu Display';
  src: url('https://fonts.googleapis.com/css2?family=Agu+Display&display=swap') format('woff2');
  font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  position: relative;
  background-color: #ffffff;
  color: #000000;
 
  font-family: "Josefin Sans", sans-serif;
}

body[data-aos] {
  animation: none !important;
  transition: none !important;
}


body.night-mode {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
